Unidad1/Unidad_01/banco.dtd

<!ELEMENT banco (sucursal+)> <!-- el + es porque hay mas de una sucursal-->
<!ELEMENT sucursal (cuentas+)>
<!-- ATTLIST nom_etiqueta nom_atributo type opcion-->
<!ATTLIST sucursal id NMTOKEN #REQUIRED>
<!ELEMENT cuentas (cliente+)>
<!ATTLIST cuentas id NMTOKEN #REQUIRED>
<!ELEMENT cliente (nombre,telefono)>
<!ATTLIST cliente dni NMTOKEN #IMPLIED>
<!ATTLIST cliente id NMTOKEN #IMPLIED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>